body{
    background-color: #F2F2F2;
    text-decoration: none;
}
.container{
    background: #192939;
    position: relative;
    width: 70%;
    top: 89px;
    padding-bottom: 6%;
    
}
nav{
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #0B7373;
}
.logo{
    position: absolute;
    width: 296px;
    height: 146px;
    left: 2%;
    top: -33px; 
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 
             -2px -2px 0px #00FFFF, 
             -2px 2px 0px #00FFFF,                    
              2px -2px 0px #00FFFF,                  
              2px 0px 0px #00FFFF;
}

.receita{
    position: absolute;
    width: 255px;
    height: 74px;
    left: 58%;
    top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    
}
div a{
    color: #FFFFFF;
    text-decoration: none;
}
#pes{
    text-align: center;
    position: absolute;
    width: 289px;
    height: 74px;
    left: 75%;
    top: 7px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    background: #FFFFFF;
    border-radius: 80px;
    border: none;
}
#send{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 25%;
    top: 2px;
}
#produto{
    width: 367.21px;
    height: 349.18px;
    left: 310px;
    top: 113px;
    margin-top: 14%;
    
    background-color: white;
    border-radius: 30px;
}
#produto2{
    width: 367.21px;
    height: 349.18px;
    left: 310px;
    top: 113px;
    margin-top: 17%;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 5%;
    }
.footer{   
   position: fixed;
   bottom: 0%;
   width: 100%;
   height: 50px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 50px;
   margin-top: 0%;
   background-color:#0DC2C4;
   color: white;
   text-align: center;
   margin-bottom: none;

}
.receita a:hover{
   color: white;
   text-shadow: 
             -1px -1px 0px #00FFFF, 
             -1px 1px 0px #00FFFF,                    
              1px -1px 0px #00FFFF,                  
              1px 0px 0px #00FFFF;
}
#ver:hover{
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
#img img{
    width: 366.98px;
    height: 206.44px;
}
#produto div img{
    max-width: 367px;
    border-radius: 30px;
}
#produto2 div img{
    max-width: 367px;
    border-radius: 30px;
}
#tempo{
    display: inline-block;
    position:relative;
    top: 25px;
    left: -10px;
}
#tempo p{
    font-size: 25px;
    font-weight: 400;
}
#ver{
    display:inline-block;
    position: relative;
    top: -25px;
    left: 17px;
    font-weight: 300;
    font-size: 25px;
    background-color: #0B7373 ;
    width: 222.91px;
    height: 69.21px;
    border-radius: 30px;
    
}
#ver a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    position: relative;
    top: 12px;
    color: black;
}




    



/* modal */

.modal{
    display: none;
    position: fixed;
    top: 4%;
    left: 50%;
	transform: translate( -50%);
    height: 660px;
    width: 100%;
    
}
input[type="file"]{
    display: none;
}
label{
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 32px;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 23px;
}
.def{
    color: white; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
.modal{
    width: 592px;
    
    background-color: #1d6969c9;
}
.nome{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0px;
    margin-top: 0px;
}
.l{
    padding-top: 15px;
}
#insira{
    margin-top: 15px;
}
#r{
    margin-left: 32px;
}
#n{
    margin-left: 32px;
}
#s{
    margin-left: 220px;
}
#box{
    width: 240px;
    height: 50px;
    border: none;
}
#nomrec{
    margin-left: 32px;
    width: 240px;
    height: 50px;
    border: none;
}
#rec{
    margin-left: 32px;
    border: none;
    width: 520px;
    height: 243px;
    
}
#red{
    margin-left: 32px;
    font-size: 20px;
    font-weight: 400;
}
#boxn{
    margin-bottom: 15px;
}
#insirab{
    margin-bottom: 15px;
}
#button{
    width: 196px;
    height: 39px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 195px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
#button:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.active {
    display: block;
    
  }
  
  #dark{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
